*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.containe{
    height: 800px;
    width: 1000px;
    margin: 50px auto;
    border: 2px solid;
    
}
h1{
   font-size:70px;
   text-align: center;
}
.numero{
    height: 60px;
    width: 80px;
    margin: 5px auto;
    border: 2px solid;
    position: absolute;
}
#numero1{
    position: relative;
    top: 3vw;
    right: 20vw;
} 

#numero2{
    position: relative;
    top: 20vw;
    right: 20vw;
    
}

#termometro{
    position: relative;
    bottom: 100px;
    left: 20vw;
    height: 300px;
    border: 1px red;
    background-color: red;
    transform: rotate(180deg);
    color: white;
    font-weight: 700;
}
.text{
    font-size:17px;
    position: relative;
    left: 59vw;
    bottom: 100px;}



.input{
    display: block;
    margin: auto;
    width: 80px;
    height: 60px;
    text-align: center;

}
#button{
    border-radius: 16px;
    height: 80px;
    width: 150px;
    margin: auto; 
    text-align: center;
    font-size: 25px;
    display: block;
    background-color: blue;
    color: white;

}
.label{
    position: relative;
    width: 150px;
    left: 190px;
    top: 25px;
    text-align: center;
}
.tex{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}